*{
  /*border: 0.5px solid red;*/
  margin: auto;
  text-align: center;
  padding: 1px;

}

body {
  background-color: #30415D;
}

li {
  color: #F0FFFF;
  font-size: 14px;
  list-style: none;
}

#selection {
  color: #F0FFFF;
  font-size: 14px;
}

#itemSubmit {
  color: #30415D;
  /*font-size: 14px;*/
}

#header h1 {
  color: #8EADBD;
}

.foodInfo {
  background-color: #CF6766;
  border-bottom: 1px solid #dbdbdb;
}

.foodInfo h3 {
  color: #031424;
  font-size: 24px;
}

.foodInfo h4 {
  color: #30415D;
  font-size: 24px;
}

.foodInfo #searches {
  background-color: #CF6766;
}

.foodInfo #selection {
  background-color: #8EADBD;
}

.foodInfo #selection .delete {
  color: #FF0000;
}

.foodInfo #calories {
  background-color: #30415D;
  color: #F0FFFF;
  font-size: 30px;
}
/*
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides p {
  font-size: 15px;
  margin-bottom: 13px;
}
*/
