<!--? minz-->
<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Health Tracker</title>
  <!-- ?? <meta name="description" content=""> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <h1>Health Tracker</h1>
  <div>
    <form action="">
      <input type="text" id="searchBox" placeholder="Type food here">
      <button type="submit" id="searchButton">Search</button>
    </form>
  </div>

  <div>
    <h2>Search Results</h2>
    <ul class="searchResult"></ul>
  </div>

  <form id="addFood" action="">
    <h2>Food Selection</h2>
    <div id="foodNames">none</div>
    <div id="foodCalories">none</div>
    <button id="foodSubmit" class="foodSubButton" disabled>Add food</button>

  </form>

  <div id="foodsList">
    <script class="foodListTemplate" type="text/template">
      <span><%= title %></span> <span><%= calorie %></span> <button class="delete">Delete</button>
    </script>
  </div>
  <h2>Total Calories</h2>
  <div id="totCals"></div>


  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage-min.js"></script>
  <!--<script src="js/helpers/helpers.js"></script>-->
  <!--<script src="js/models/food.js"></script>-->
  <!--<script src="js/collections/foods.js"></script>-->
  <!--<script src="js/views/foodView.js"></script>-->
  <!--<script src="js/views/foodsView.js"></script>-->
  <!--<script src="js/views/searchView.js"></script>-->
  <script src="js/app.js"></script>
</body>
</html>
