<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Health Tracker</title>
  <!-- ?? <meta name="description" content=""> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <form id="foodChoice">
    <input type="text" id="foodName" placeholder="Food name">
    <input type="submit" placeholder="Add Food">
  </form>
  <div id="foodsList">
    <script id="foodsListTemplate" type="text/template">
      <span><%= title %></span> <span><%= calorie %></span> <button class="delete">Delete</button>
    </script>
  </div>
  <div id="totalCalories"></div>

  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage-min.js"></script>
  <script src="js/helpers/helpers.js"></script>
  <script src="js/models/food.js"></script>
  <script src="js/collections/foods.js"></script>
  <script src="js/views/foodView.js"></script>
  <script src="js/views/foodsView.js"></script>
  <script src="js/views/searchView.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
