<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Health Tracker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
  <link href="css//bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="header">
    <h1>Health Tracker 123</h1>
  </div>
  <div class="foodInfo">
    <div class="container">
      <div class= "row">
        <div id="searches" class="col-md-4">
            <h3>Food Search</h3>
            <p>1. <strong>Enter</strong> food name to search.</p>
            <form action="" class="searchForm">
              <input type="text" id="searchBox" class="searchBox" placeholder="Type food here">
              <button type="submit" id="searchButton" class="searchButton">Search</button>
              <span id="searchBoxAlert" class="searchBoxAlert"></span>
              <!--see notes-->
            </form>
            <br>
            <p>2. <strong>Click</strong> food name to select.</p>
            <ul class="searchResults"></ul>
        </div>
        <div id="selection" class="col-md-4">
          <div id="addItem">
            <h3>Food Selection</h3>
            <p>3. <strong>Click</strong> "Add food" button.</p>
            <div>
              <h4>Food Name</h4>
              <div id="foodName">none</div>
            </div>
            <div>
              <h4>Food Calories</h4>
              <div id="foodCalorie">none</div>
            </div>
            <br>
            <div>
              <button id="itemSubmit" class="foodSubmitBtn" disabled>Add food</button>
            </div>
          </div>
          <h4>Selected Food</h4>
          <!--see notes-->
          <span id="searchAlert" class="searchBoxAlert">No food selections</span>
          <div class="foodsList">
            <script id="foodListTemplate" type="text/template">
              <span class="searchName"><%= name %></span>
              <span class="searchCalories"><%= calories %> Calories </span>
              <span class="delete">Delete</span>
            </script>
          </div>
        </div>
        <div id="calories" class="col-md-4">
          <h3>Total Calories</h3>
          <div id="totCals" class="totCals"></div>
        </div>
      </div>
  <script src="js/jquery-3.1.0.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script src="js/backbone-min.js"></script>
  <script src="js/backbone.localStorage-min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/helpers/helpers.min.js"></script>
  <script src="js/models/food.min.js"></script>
  <script src="js/collections/foods.min.js"></script>
  <script src="js/views/foodView.min.js"></script>
  <script src="js/views/foodsView.min.js"></script>
  <script src="js/views/searchView.min.js"></script>
  <script src="js/app.min.js"></script>
</body>
</html>
